@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

*{
    font-family: 'PyeongChangPeace-Bold';
}
body{
    /* background-color: rgb(253, 237, 239); */
    background-image: url("https://secondmorning.co.kr/file_data/secondmorning/2021/06/25/b0c8e775f0f1f01f55a01fc0a315305c.jpg");
    background-size: cover;
}
#root{
    text-align: center;
}
